<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/bootstrap/css/bootstrap.css' />
<link rel='stylesheet' href='/stylesheets/mystyles.css' />
<script data-main='javascripts/main'
src='javascripts/libs/require.js' ></script>
</head>
<body>
<div id="postList">
</div>
</body>
</html>

